<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <ul class="cart__item-list">
            <% products.forEach(p => { %>
            <li class="cart__item">
                <h1><%= p.productId.title %></h1>
                <h2>Quantity: <%= p.quantity %></h2>
            </li>
            <% }) %>
        </ul>
        <div class="centered">
            <h2>Total: <%= totalSum %></h2>
        </div>
        <div>
            <form action="/charge" method="post" id="payment-form">
                <div class="form-row">
                    <label for="card-element">
                        Credit or debit card
                    </label>
                    <div id="card-element">
                        <!-- A Stripe Element will be inserted here. -->
                    </div>

                    <!-- Used to display Element errors. -->
                    <div id="card-errors" role="alert"></div>
                </div>
                <button>Submit Payment</button>
            </form>
        </div>
        <form action="/create-order" method="POST">
            <script src="https://js.stripe.com/v3/" class="stripe-button"
            data-key='pk_test_HMVnnkkjRolsaMT15X6BF29J00SrQ6jFzP'
            data-amount="<%= totalSum %>"
            data-name="Your Order"
            data-description="All the items you ordered"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-local="auto"
            data-currency="eur">
            </script>
        </form>
    </main>
    <%- include('../includes/end.ejs') %>